/************GENERAL************/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}


/************NAVBAR************/

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-collapse {
    margin-top: 10px;
}

.nav-link {
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

#toggle {
    display: none;
}


@media only screen and (max-width: 925px) {
    #toggle:checked + .menunav .txtnav {
        display: block;
    }

}


/************MAIN************/

h1, h2, h3 {
	text-align: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    display: flex;
    align-items: center; 
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

h2, h3 {
    text-align: center;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    background-color: #93C5FF;
}

h2 {
    cursor: pointer;
    font-size: 35px;
    height: 40px;
    margin: 50px 0;
    background-color: #93C5FF;
}

h3 {
    margin: 50px 0;
}


/**********ELEMENTS**********/

.elements-list {
    display: none;
    padding-bottom: 50px;
}

.tablevideo {
    margin: 50px 0;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

.tablevideo iframe {
    margin: 50px 30px;
}

.tablevideo figure {
	width: 300px;
	height: 200px;
	overflow: hidden;
    margin: 50px 30px;
}

.tablevideo figure:hover figcaption {
    transform: translateY(-150px);
}

.tablevideo figcaption {
    width: 300px;
    line-height: 80px;
    text-align: center;
    background-color: blue;
    opacity: 0.75;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.tablevideo figcaption a {
	text-decoration: none; 
	color: white;
}

.tablevideo figcaption a:hover {
    color: white;
}

.arrow {
    transform: rotate(40deg);
    position: absolute;
    bottom: 10px;
    left: 56%;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 10px;
}


/**********Home**********/

.block-float {
    width: 100%;
    max-width: 650px;
    bottom: -90px;
    margin: 50px auto 200px;
    position: relative;
}

.ecart-content {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 30px 0px;
    padding: 40px 30px 30px;
    position: relative;
    z-index: 2;
}

.ecart-border {
    width: 100%;
    height: 100%;
    border: 3px solid #D82E2E;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -40px;
}

.ecart-content p {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.contenu-principal {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 100px;
    background-color: lightgray;
}


/**********SLIDER**********/

.slider {
    margin-bottom: 100px;
}

.slider img {
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
}

.slick-prev,
.slick-next {
    position: absolute;
    transform: rotate(140deg);
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 10px;
    background: none;
    width: 33px;
    height: 33px;
    bottom: 35px;
    left: 10%;
    top: calc(50% - 75px);
    z-index: 9999;
}

.slick-next {
    transform: rotate(-50deg);
    left: inherit;
    right: 10%;
}

.slick-prev:hover,
.slick-next:hover {
    border: solid red;
    border-width: 0 3px 3px 0;
}

.slick-prev:focus,
.slick-next:focus {
    outline: none;
}

.table-mobile {
    display: none;
}


/**********FORM LOGIN**********/

.form-login {
    padding-top: 150px;
}

.form-login form {
    display: block;
}

.form-login form div {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form-login h4 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 80px;
    margin-bottom: 30px;
}

.form-login p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.form-login input[type="text"] {
    position: relative;
    left: 15px;
}

.form-login input[type="submit"] {
    display: flex;
    margin: 50px auto 0;
}

.form-login input[type=text], input[type=password] {
    cursor: auto;
}

.pageconnection {
    width: 50%;
    margin: auto;
    margin-top: 70px;
}

input[type=text], input[type=password], input[type=file] {
    background-color: #CBCBCB;
    color: white;
    border-style: none;
    padding: 10px;
    margin-left: 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=file]:focus {
    color: black;
    background-color: #E1E1E1;
    /* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-out;
    outline: none;
}

input[type=file] {
    cursor: pointer;
    padding: 5px;
}

input[type=submit] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #0098FF;
    /* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

input {
    font-family: cursive;
    font-weight: normal;
    font-size: 16px;
}

.logform {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logform input, a {
    margin: 5px;
}

.forgotadminn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/**********FORM QUIZ**********/

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form h4 {
    margin-left: 15px;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
}

form li {
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

form input {
    cursor: pointer;
}

form input[type="submit"] {
    margin: 20px 30px 0 0;
}

.results {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    color: red;
    font-weight: bold;
}


/**********CRUD BACK OFFICE**********/

.tblSaveForm {
    border-top: 2px #999999 solid;
    background-color: #f8f8f8;
}

.tableheader {
    background-color: #fedc4d;
}

.tablerow {
    background-color: #A7D6F1;
    color: white;
}

.btnSubmit {
    background-color: #fd9512;
    padding: 5px;
    border-color: #FF6600;
    border-radius: 4px;
    color: white;
}

.message {
    color: #FF0000;
    text-align: center;
    width: 100%;
}

.txtField {
    padding: 5px;
    border: #fedc4d 1px solid;
    border-radius: 4px;
}

.evenRow {
    background-color: #E2EDF9;
    font-size: 12px;
    color: #101010;
}

.evenRow:hover {
    background-color: #ffef46;
}

.oddRow {
    background-color: #B3E8FF;
    font-size: 12px;
    color: #101010;
}

.oddRow:hover {
    background-color: #ffef46;
}

.tblListForm {
    border-top: 2px #999999 solid;
}

.listheader {
    background-color: #fedc4d;
    font-size: 12px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #5e8fc7;
    font-size: 11px;
}

.content {
    margin-top: 100px;
    padding: 0 50px 50px;
}

.content form {
    margin-bottom: 50px;
}

.content .add {
    text-align: right;
    padding-bottom: 10px;
}

.content .add .link {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.content .add .link img {
    position: relative;
    top: 6px;
    right: 2px;
}

.tblListForm td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    vertical-align: middle;
}

.content a, .content td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.content input[type="text"] {
    cursor: auto;
}


/**********SWEETALERT**********/

.swal2-title {
    background: none;
}

.swal2-content {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


/**********BANNIERE COOKIES**********/

.cookie-alert {
    position: fixed;
    bottom: 24px;
    right: 20px;
    border-radius: 10px;
    background: #2f2f2f;
    color: #fff;
    padding: 10px 15px 20px;
    width: 280px;
    z-index: 999;
}

.cookie-alert p {
    font-size: 16px !important;
}

.cookie-alert a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    margin: 8px auto 0 auto;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #46A2D9;
    color: #46A2D9;
    transition: all .3s ease;
}

.cookie-alert a:hover {
    background: #46A2D9;
    color: #2f2f2f;
}

@media only screen and (max-width: 480px) {
    .cookie-alert {
        text-align: center;
        left: 0;
        right: 0;;
        margin: 0 auto;
        max-width: 700px;
        padding: 10px 30px;
    }
}

.source:hover {
    background: none;
    color: #FFFFFF;
    text-decoration: none;
}


/************FOOTER************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.maHome footer {
    position: static;
}

.copyright {
    position: relative;
    display: block;
    bottom: 0;
    color: white;
    background-color: blue;
    width: 100%;
    padding: 10px 0;
}

.copyright p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


/************MOBILE************/

@media (max-width: 800px) {
    .content {
        padding: 30px 10px;
        margin: 0;
    }
    .slider {
        display: none;
    }
    .table-mobile {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .table-mobile img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 20px 0;
    }

    .block-float {
        margin-top: 0;
    }
    
    .ecart-border {
        display: none;
    }
    .arrow {
        left: 75%;
    }

    .myquiz h4 {
        margin: 10px 0 20px;
    }

    .myquiz ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .myquiz li {
        text-align: center;
    }

    .myquiz input[type="submit"] {
        margin: 30px 0 0 0;
        padding: 10px 50px;
    }

    .form-login {
        padding: 0;
        margin: 150px 0 0 0;
    }

    .form-login h4 {
        margin: 0 auto;
    }

    .form-login input[type="text"], .form-login input[type="password"] {
        width: 65%;
    }

    .form-login input[type="text"] {
        left: 20px;
    }

    .form-login input[type="password"] {
        left: 3px;
        position: relative;
    }
}